:host {
  display: block;
}

.change-password-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 56px - var(--space-16)); // 100vh - header - padding
  width: 100%;
}
