<section class="calendar-header">
  <div class="calendar-header__title-group">
    <h1 class="calendar-header__title">課堂安排中心</h1>
    @if (viewMode() === 'calendar') {
      <button #subtitleButton class="calendar-header__subtitle" (click)="toggleDatePicker()">
        {{ subtitleLabel() }}
        <i class="pi pi-angle-down calendar-header__subtitle-caret"></i>
      </button>
      @if (showDatePicker()) {
        <div #datepickerPopup class="calendar-header__datepicker-popup">
          <p-datepicker
            [ngModel]="currentDate()"
            [inline]="true"
            [firstDayOfWeek]="1"
            (onSelect)="onDateJump($event)"
            dateFormat="yy/mm/dd"
            [appendTo]="'body'"
          />
        </div>
      }
    }
  </div>

  <div class="calendar-header__actions">
    @if (viewMode() === 'calendar') {
      <div class="calendar-header__nav">
        <p-button
          icon="pi pi-chevron-left"
          [rounded]="true"
          severity="secondary"
          [text]="true"
          size="small"
          (onClick)="prevPeriod.emit()"
          [pTooltip]="isWeekView() ? '上一週' : '前一天'"
          [tooltipPosition]="'top'"
          tooltipStyleClass="clessia-tooltip"
        />
        @if (!isCurrentPeriod()) {
          <p-button
            [label]="isWeekView() ? '回本週' : '回今天'"
            severity="secondary"
            [outlined]="true"
            size="small"
            (onClick)="goToday.emit()"
          />
        }
        <p-button
          icon="pi pi-chevron-right"
          [rounded]="true"
          severity="secondary"
          [text]="true"
          size="small"
          (onClick)="nextPeriod.emit()"
          [pTooltip]="isWeekView() ? '下一週' : '下一天'"
          [tooltipPosition]="'top'"
          tooltipStyleClass="clessia-tooltip"
        />
      </div>
    }
    <div class="calendar-header__view-toggle">
      <p-button
        [outlined]="viewMode() !== 'list'"
        icon="pi pi-list"
        severity="secondary"
        [rounded]="true"
        size="small"
        pTooltip="清單視圖"
        tooltipPosition="top"
        (onClick)="onViewModeChange('list')"
      />
      <p-button
        [outlined]="viewMode() !== 'calendar'"
        icon="pi pi-calendar"
        severity="secondary"
        [rounded]="true"
        size="small"
        pTooltip="行事曆視圖"
        tooltipPosition="top"
        (onClick)="onViewModeChange('calendar')"
      />
    </div>
  </div>
</section>
