.shell-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-3);
  padding: var(--space-8) 0;
  color: var(--zinc-400);

  i {
    font-size: 48px;
  }

  h2 {
    font-size: var(--text-xl);
    font-weight: var(--font-semibold);
    color: var(--zinc-600);
  }

  p {
    font-size: var(--text-md);
  }
}
