.dashboard__welcome {
  h1 {
    margin: 0 0 var(--space-2);
    font-size: var(--text-2xl);
    font-weight: var(--font-bold);
    color: var(--zinc-900);
  }

  p {
    margin: 0;
    font-size: var(--text-md);
    color: var(--zinc-500);
  }
}
