@if (navItems().length > 0) {
  <nav class="bottom-bar">
    <div class="bottom-bar__tabs">
      @for (item of primaryTabs(); track item.route) {
        <a
          class="bottom-bar__tab"
          [routerLink]="item.route"
          routerLinkActive="bottom-bar__tab--active"
        >
          <i class="pi {{ item.icon }}"></i>
          <span>{{ item.label }}</span>
        </a>
      }
      @if (moreTabs().length > 0) {
        <button
          class="bottom-bar__tab"
          [class.bottom-bar__tab--active]="moreOpen()"
          (click)="toggleMore()"
        >
          <i class="pi pi-ellipsis-h"></i>
          <span>更多</span>
        </button>
      }
    </div>

    @if (moreOpen() || moreClosing()) {
      <div class="bottom-bar__overlay" [class.bottom-bar__overlay--closing]="moreClosing()" (click)="closeMore()"></div>
      <div class="bottom-bar__sheet" [class.bottom-bar__sheet--closing]="moreClosing()">
        <div class="bottom-bar__sheet-handle"></div>
        <div class="bottom-bar__sheet-grid">
          @for (item of moreTabs(); track item.route) {
            <a
              class="bottom-bar__sheet-item"
              [routerLink]="item.route"
              routerLinkActive="bottom-bar__sheet-item--active"
              (click)="closeMore()"
            >
              <i class="pi {{ item.icon }}"></i>
              <span>{{ item.label }}</span>
            </a>
          }
        </div>
      </div>
    }
  </nav>
}
