<p-toast position="top-center" [baseZIndex]="30000" />

<div class="dialog-header-inline">
  <div class="dialog-header-inline__content">
    <span class="dialog-header-inline__title">帳號已建立</span>
  </div>
  <button type="button" class="dialog-header-inline__close" (click)="onHide()" aria-label="關閉">
    <i class="pi pi-times"></i>
  </button>
</div>

<div class="password-reveal">
  <div class="password-reveal__warning">
    <i class="pi pi-exclamation-triangle"></i>
    <span>請記下密碼或立刻產生帳號資訊卡，關閉後將無法再次查看</span>
  </div>

  <div class="password-reveal__fields">
    <div class="password-reveal__field">
      <label class="password-reveal__label">登入帳號</label>
      <div class="password-reveal__value-row">
        <span class="password-reveal__value">{{ account() }}</span>
        <button
          type="button"
          class="password-reveal__copy-btn"
          pTooltip="複製帳號"
          tooltipPosition="top"
          (click)="copyToClipboard(account(), '登入帳號')"
        >
          <i class="pi pi-copy"></i>
        </button>
      </div>
    </div>

    <div class="password-reveal__field">
      <label class="password-reveal__label">登入密碼</label>
      <div class="password-reveal__value-row">
        <span class="password-reveal__value password-reveal__value--password">{{ password() }}</span>
        <button
          type="button"
          class="password-reveal__copy-btn"
          pTooltip="複製密碼"
          tooltipPosition="top"
          (click)="copyToClipboard(password(), '登入密碼')"
        >
          <i class="pi pi-copy"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="password-reveal__actions">
    <p-button
      label="產生帳號資訊卡"
      icon="pi pi-file-pdf"
      severity="secondary"
      [outlined]="true"
      (onClick)="generateAccountCard()"
    />
    <p-button
      label="完成"
      (onClick)="onHide()"
    />
  </div>
</div>
