<ng-template #menuTemplate>
  <ul class="popup-menu" role="menu">
    @for (item of model(); track $index) {
      @if (item.separator) {
        <li class="popup-menu__separator" role="separator"></li>
      } @else {
        <li class="popup-menu__item-wrapper">
          <button
            type="button"
            [class]="itemClass(item)"
            [disabled]="item.disabled"
            role="menuitem"
            (click)="handleItemClick(item, $event)"
          >
            @if (item.icon) {
              <i class="popup-menu__icon" [class]="item.icon"></i>
            }
            <span class="popup-menu__label">{{ item.label }}</span>
          </button>
        </li>
      }
    }
  </ul>
</ng-template>
